<html>
<head>
    <title>Add Person</title>
</head>
<body>
<center>
    <a href="/"><button type="button" style="background-color: #4CAF50; color: white; font-size: 17px">Main</button></a>

    <br><br>
    <form method="POST" action="">
        <label>Name:
            <input type="text" name="name">
        </label>
        <br>
        <label>Surname:
            <input type="text" name="surname">
        </label>
        <br>
        <label>Description:
            <input type="text" name="desc">
        </label>
        <br>
        <input type="submit" name="new_person" value="Add">
    </form>
</center>
</body>
</html>
