<html>
<head><title>Edit Contacts</title></head>
<body>
<center>
 <a href="/"><button type="button" style="background-color: #4CAF50; color: white; font-size: 17px">Main</button></a>
 <a href="/person/add_person/"><button type="button" style="background-color: #4CAF50; color: white; font-size: 17px">
         Add Person</button></a>
  <br><br>

    <form method="POST" action="">
        <label>Name:
            <input type="number" name="name">
        </label>
        <input type="submit" name="new_name" value="SAVE">
        <br><br>
        <label>Surname:
            <input type="text" name="surname">
        </label>
        <input type="submit" name="new_surname" value="SAVE">
        <br><br>
        <label>Description:
            <input type="text" name="desc">
        </label>
        <input type="submit" name="new_desc" value="SAVE">
    </form>
</center>
</body>
</html>