<html>
<head><title>Edit Contacts</title></head>
<body>
<center>
 <a href="/"><button type="button" style="background-color: #4CAF50; color: white; font-size: 17px">Main</button></a>
 <a href="/person/add_person/"><button type="button" style="background-color: #4CAF50; color: white; font-size: 17px">
         Add Person</button></a>
 <br><br>
 <p>Change name / surname / description</p>
 <a href="edit-name"><button type="button" style="">Click !</button></a>
 <br>
 <p>Change address</p>
 <a href="edit-address"><button type="button" style="">Click !</button></a>
 <br>
 <p>Change email</p>
 <a href="edit-email"><button type="button" style="">Click !</button></a>
 <br>
 <p>Change phone</p>
 <a href="edit-phone"><button type="button" style="">Click !</button></a>
</center>
</body>
</html>